body {
  background: linear-gradient(to bottom right, rgba(49, 49, 49, 0.7), #1f1f1f);
  height: max-content;
}

.container {
  width: 50%;
  /* background-color: rgb(63, 62, 62); */
  border-style: hidden;
  border-radius: 15px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 8px 6px 6px black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  color: white;
}

.btn {
  background-color: green;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  width: 50%;
  height: 45px;
}

.input-username::placeholder {
  color: white;
}

.input-password::placeholder {
  color: white;
}

input {
  width: 80%;
  padding: 12px 20px;
  margin: 12px 0;
  border-radius: 8px;
  border-color: green;
  box-sizing: border-box;
  background-color: rgb(73, 72, 72);
  color: white;
}

.btn:hover {
  background-color: #0d3f0f;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (max-width: 1000px) {
  .container {
    background-color: none;
    width: 100%;
    height: 100%;
    padding: 18px;
    text-align: center;
    align-items: center;
    box-shadow: none;
  }

  .btn {
    width: 80%;
    margin: 25px;
    height: 60px;
  }

  .p-text {
    text-align: center;
    vertical-align: middle;
  }
}
