* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.search-main {
  margin: auto;
  width: 80%;
}
.search-div {
  display: flex;
  justify-content: center;
}
.search-field {
  color: white;
  width: 50%;
}
.grid-container {
  display: grid;
  grid-template-columns: 30% 30%;
  row-gap: 10px;
  column-gap: 10px;
}
.search-container {
  width: 30%;
  display: flex;
  cursor: pointer;
  margin-bottom: 4px;
  margin: auto;
}
.song-pic {
  cursor: pointer;
  padding: 4px 4px 4px 4px;
}
.search-name {
  align-self: center;
}
.search-name > h4,
p {
  text-align: left;
}
.search-name > h4 {
  color: #a3a3a3;
}
.search-name > p {
  color: #888888;
}
.search-result {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.artist-container {
  display: flex;
  width: 100%;
}
.artist-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.artist-text {
  align-self: center;
  width: 100%;
  margin-left: 5px;
  font-size: 25px;
}
.artist-link {
  text-decoration: none;
}
.artist-h4 {
  color: #d8d8d8;
}

@media (max-width: 1000px) {
  .search-main {
    margin: auto;
    width: 95%;
  }
  .search-field::placeholder {
    color: #a3a3a3;
  }
  .search-field {
    color: white;
    width: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
  }
  .search-container {
    display: flex;
    cursor: pointer;
    margin-bottom: 4px;
    width: 100%;
  }
  .search-img {
    cursor: pointer;
    padding: 4px 4px 4px 0px;
  }
  .search-name {
    align-self: center;
  }
  .search-name > h4,
  p {
    text-align: left;
  }
  .search-name > h4 {
    color: #d8d8d8;
  }
  .search-name > p {
    color: #c0c0c0;
  }
  .search-result {
    margin: 10px 0px 20px 0px;
    display: flex;
    width: 100%;
  }
  .artist-container {
    display: flex;
    width: 100%;
  }
  .artist-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .artist-text {
    align-self: center;
    width: 100%;
    margin-left: 5px;
    font-size: 25px;
  }
  .artist-link {
    text-decoration: none;
  }
  .artist-h4 {
    color: #d8d8d8;
  }
}
