.music-sticky {
  display: flex;
  background-color: #363636;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
}
.buttons {
  display: block;
}

.list-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
}
.list-link {
  margin: 0px 10px 0px 10px;
  background-color: rgb(26, 26, 26);
  padding: 10px;
  border-radius: 50%;
}
.list-play-pause {
  margin: 0px 10px 0px 10px;
  background-color: rgb(26, 26, 26);
  padding: 15px;
  border-radius: 50%;
}
.play-pause {
  text-align: center;
  font-size: 30px;
  color: rgb(187, 187, 187);
}
.play-pause:hover {
  color: white;
}
.fa-icon {
  color: rgb(187, 187, 187);
}
.fa-icon:hover {
  color: white;
}
/* SLIDER CSS */

.volume-slider {
  display: flex;
  width: 30%;
  margin: auto;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background-color: rgb(26, 26, 26);
  border: 1px solid rgb(58, 58, 58);
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
  padding: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 30px;
}

/************ PROGRESSBAR AND SHOW/HIDEPLAYER   **************/
/* .progress-div{
  display: flex;

} */

.fa-expand-arrows-alt{
  display: flex;
  justify-content: center;
  /* position: absolute; */
left: 30%;
  top: 35%;
  color:#008a18;
  z-index :100;
}

.fa-compress-arrows-alt {
  display: flex;
  /* position: absolute; */
  left: 30%;
  top: 35%;
  color:#008a18;
   z-index:100;
  
}
.progress-div {
  display: flex;
  width: 100%;
}
.player-show{
  display: flex;
  position: absolute;
  background-color: black;
  opacity: 1;
  top:40%;
  z-index:1;
  right: 100%;
  height:10!important;
}
.player-hidden{
  background:#363636;
  /* flex-direction: center; */
 
            display:flex;
            flex-direction:column-reverse;
            width:35%;
            height:200%;
            position:absolute;
            top: 1
            px;
            left: -7%;
            /* right:200%; */
            opacity: 1;
            /* transition: all 0.5s ease-out; */
}
